<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>ble-macos</string>
    <key>CFBundleIdentifier</key>
    <string>dev.ndnrs.ble-macos</string>
    <key>CFBundleName</key>
    <string>BleMacos</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>ndn-rs uses Bluetooth LE to serve NDN data as a GATT peripheral.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>ndn-rs uses Bluetooth LE to serve NDN data as a GATT peripheral.</string>
</dict>
</plist>
